@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 80s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}